[class="title1"] 
{
    text-align: center;
    font-size: 60px;
    color: antiquewhite;
    }
    #description
    {
        text-align: justify;
    font-size: 35px;
    color: antiquewhite;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    #img1
    {
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    }
    #menu
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        cursor: grab;
        width: fit-content;
    }
   #adress
    {
        font-size: 20px;
        text-align: center;
        color: antiquewhite;
    }
body 
{
    background-color: rgb(22, 13, 13);
}