h1
{
    text-align: center;
    font-size: 2cm;
    color: antiquewhite;
}
table
{
    color: antiquewhite;
    font-size: 20px;
    border: 2px solid;
    }
    td
{
    font-size: 30px;
    text-align: center;
    width: 27cm;
    border: 2px solid;
   }
   [class="name"]
   {font-size: 65px;}
  body {background-color: rgb(22, 13, 13);}